:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  min-height: 0;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.cursor-blink {
  animation: blink 0.7s step-end infinite;
}
